mixin video(videoInfo)
    div 
      h4
        a(href=`/videos/${videoInfo.id}`)=videoInfo.title
      p=videoInfo.descripton
      ul
        each hashTags in videoInfo.hashTags
          li=hashTags
      small=videoInfo.createdAt
      hr 