extends base

block content
    form(method="POST")
        input(placeholder="user name",name="username",type="text",required , value=loggedInUser.name)
        input(placeholder="email",name="email",type="text",required, value=loggedInUser.email)
        input(placeholder="name",name="name",type="text", value=loggedInUser.username)
        input(placeholder="location",name="location",type="text",value=loggedInUser.location)
        input(type="submit", value="Update profile")